.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 

    display: flex;
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer{
 height:100%;
 display:flex;
 flex-direction:column;
}

.chattingDisplay{
 flex:1;
 overflow-y:auto;
 padding:10px;
}

.chattingArea{
 display:flex;
 gap:8px;
 padding:8px;
}


@media (max-width:768px){
  .chatRoom{
    height:40vh;
    width:50vw;
    bottom:60px;
    margin-bottom:70%;
  }
  .buttonContainers{
   bottom:20px !important;
}
}
