
.landingPageContainer{
  width:100vw;
  height:100vh;
  background: url("/public/background.png");
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
}


.landingPageContainer nav{
  padding:1.5rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
}

.landingPageContainer nav h2{
  font-size:1.8rem;
  font-weight:500;
}


.navlist{
  display:flex;
  gap:1.6rem;
  cursor:pointer;
}


.landingMainContainer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 3rem;
  height:80vh;
}

.landingMainContainer h1{
  font-size:2.2rem;
}

.landingMainContainer div[role="button"]{
  background:#D97500;
  width:fit-content;
  padding:1rem;
  border-radius:20px;
  margin-top:1.7rem;
}

.landingMainContainer div[role="button"] a{
  text-decoration:none;
  color:white;
  font-size:1.2rem;
}

.landingMainContainer img{
  height:70vh;
  width:auto;
}


.mobileMenu{
  display:none;
  font-size:24px;
  cursor:pointer;
  color:white;
}



@media(max-width:768px){

.landingMainContainer{
  flex-direction:column;
  padding:20px;
  height:auto;
}

.landingMainContainer h1{
  font-size:1.5rem;
}

.landingMainContainer img{
  width:100%;
  height:auto;
  margin-top:20px;
}


.mobileMenu{
  display:block;
  position:absolute;
  right:20px;
  top:22px;
}


.navlist{
  display:none;
}

.navlist.open{
  display:flex;
  flex-direction:column;
  position:absolute;
  top:60px;
  right:15px;
  background:#000;
  padding:10px 15px;
  border-radius:10px;
  gap:10px;
  z-index:1000;
}

}
